* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
body {
    height: 10000px;
   
    
}
.white {
    color: #fff
}

.header {
    width: 100%;
    height: 70px;
    background-color: #202020;
    position: fixed;
    display: flex;
    padding: 0px 150px 0px 150px;
    
}

.logo {
    width: 200px;
    background: rgba(255, 255, 255, .19);
    

}

.img-container {
    height: 70px;
    max-width: 100%;
    display: block;
    background-image: url(../IMG/logo.png);
    background-size: 200px;
    background-position: center;

}

.main_header {
    display: flex;
    height: 70px;



}

.item {


    line-height: 70px;
    list-style: none;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    font-weight: bold;


}

.item a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.fa-caret-down {
    height: 43px;
}

.item:hover .text-item,
.item:hover .fa-caret-down , .icon2:hover .fa-magnifying-glass ,
.sub-item:hover a 
 {
    color: #408bea
}
.menu-item {
    position: relative;
}
.menu-item:hover .sub-menu{
    display: flex;
}
.sub-menu {  
    top: 70px;
    position: absolute;
    width: 450px;
    height: 300px;
    background-color: #000;   
    flex-wrap: wrap;
    display: none;  
}
.sub-item {
   list-style: none;
   width: 50%;
   height: 20%;
   display: flex;
   justify-content: start;
   align-items: center;
   padding-left: 40px;
}
.search {
    width: 340px;
    height: 40px;
    margin: 15px 0px 15px 235px ;
    line-height: 40px;
    border-radius: 5px;
    
}

.search .input_search {
    background-color: #000;
    /* background: rgba(255, 255, 255, .19); */
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.input_search input {
    outline: none;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);

    
}
.input_search .icon2 {
    color : #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top : 0 ;
    right: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}
.input_search .menu-key {
    padding: 0px; 
    overflow-y: auto;
    display: none 
}

.input_search:active .menu-key {
    /* padding: 10px 8px; 
    opacity: 1;
    pointer-events: auto; */

}

.menu-key li {
    color: #fff;
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    
}

.menu-key .keyword a {
    color: #fff;
    text-decoration: none;
}
.keyword:hover a {
    color: #408bea;
}
.menu-key li:hover {
     background-color: #efefef; 
}